body{
  font-family: 'Roboto Slab', serif;
  font-size: 12px;
}

/* header */

header{
  height: 100px;
  background-image: url(../img/pattern.png);
  background-position: top;
  background-size: 25%;
  background-color: #4EA0FF;
}

header img{
  height: 50px;
  position: relative;
  top: 40px;
  left: 10px;
}

/* main */

.articolo h1{
  font-size: 30px;
  margin-bottom: 0;
}

.articolo .firma{
  font-weight: 700;
  font-size: 14px;
}

.testo-blu{
  color: #20A9E5;
}

.articolo .data{
  font-size: 10px;
  margin-bottom: 20px;
}

.articolo .firma,
.articolo .data{
  color: #8B8B8B;
}

.didascalia{
  font-size: 10px;
}