body{
  font-family: 'Roboto Slab', serif;
}

header{
  height: 100px;
  background-image: url(../img/pattern.png);
  background-position: top;
  background-size: 25%;
  background-color: #4EA0FF;
  position: relative;
}

header img{
  height: 50px;
  vertical-align: baseline;
  position: absolute;
  bottom: 10px;
  left: 10px;
}